*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

#opdracht {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f7accf;
	font-family: "Ceviche One", cursive;
	font-size: 1.6rem;
	gap: 60px;
	flex-wrap: wrap;
}

.post {
	flex-shrink: 0;
	width: 400px;
	height: 400px;
	position: relative;
	transform-origin: top left;
	transition: 0.9s transform;
	clip-path: polygon(0% 0%, 100% 0%, 100% 30rem, 30rem 100%, 0% 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.post1 {
	background: #3fa7d6;
}
.post2 {
	background: #59cd90;
}
.post3 {
	background: #ee6352;
}
.post::after {
	content: "";
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.post1::after {
	background: #2b97c8;
}

.post2::after {
	background: #3fc57f;
}

.post3::after {
	background: #eb4733;
}

.post:hover {
	transform: rotate(5deg);
	transition: 0.5s transform;
}

h2 {
	font-size: 250%;
	font-weight: 400;
}

@media screen and (max-width: 1200px) {
	.post:hover {
		transform: none;
	}
}

header {
	height: 10vh;
	background: #da70d6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 50px 100px;
}

li {
	display: inline;
	float: left;
}

p {
	display: block;
	margin: 20px;
	font-size: 2rem;
	padding-bottom: 6px;
	border-bottom: 3px solid purple;
}

#title {
	font-size: 3rem;
	border-bottom: 3px solid purple;
}

#emoji {
	font-size: 60px;
}
